<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendors -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/bootstrap.css">

    <!-- Temp bootstrap for tests -->
    <!-- <link rel="stylesheet" href="public/css/bootstrap.min.css"> -->
    
    <link rel="stylesheet" type="text/css" href="public/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/slick-theme.css"/>
    <link rel="stylesheet" href="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/vue-airbnb-style-datepicker.min.css">

    
    <!-- Main CSS -->
    <link rel="stylesheet" href="public/css/styles.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="main-nav position-relative d-none d-lg-block">
            <div class="top-main-nav text-center">
                <img src="public/images/logo-stars-placeholder.png" alt="">
                <a href="#" class="book-btn-nav position-absolute" onclick="openWidget()">BOOK YOUR STAY</a>
            </div>
            <div class="container-fluid">
                <div class="links-main-nav d-flex justify-content-between">
                    <a href="#" >About</a>
                    <a href="#" class="active">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>

        <div class="mini-nav fixed-top d-flex justify-content-between align-items-center navbar-hide">
            <div class="mini-nav-align">
                <img src="public/images/icons/icon-hamburger.svg" onclick="openNav()">
            </div>
            <img src="public/images/logo-mark-grey.png">
            <a href="#" class="book-btn-nav d-none d-md-block" onclick="openWidget()">BOOK YOUR STAY</a>
        </div>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <img src="public/images/icons/close-x.svg" alt="">
        </a>
        <div class="side-nav-links text-center">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div class="d-flex justify-content-center">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
        </div>
    </div>

<!-- Home Banner -->
<section class="position-relative">
    <div class="home-banner">
        <div class="banner-item" style="background-image: url('public/images/grb.jpg')"></div>
        <div class="banner-item" style="background-image: url('public/images/grb.jpg')"></div>
        <div class="banner-item" style="background-image: url('public/images/grb.jpg')"></div>
    </div>
    <img src="public/images/desktop.png" class="banner-logo">
</section>
<div class="my-5"></div>

<section class="position-relative">
    <div class="home-banner">
        <div class="banner-item" style="background-image: url('public/images/grb.jpg')">
            <div class="banner-box-wrapper">
                <div class="text-center banner-box-content">
                    <h2>Refresh and Renew with Noa Spa & Wellness</h2>
                    <div class="banner-devider"></div>
                    <a href="#" class="btn-transparent">Learn More</a>
                </div>
            </div>
        </div>
        <div class="banner-item" style="background-image: url('public/images/grb.jpg')">
        </div>
        <div class="banner-item" style="background-image: url('public/images/grb.jpg')">
        </div>
    </div>
</section>

<!-- Home Italic Text -->
<div class="home-italic-text">
    <p>
        The Glenroyal Hotel, perfectly positioned on Dublin’s doorstep. That means you’re close enough to the city to do everything you want to do yet far enough feel you’ve escaped. 
    </p>
    <p>
        We’re just a gentle stroll into the ancient university town of Maynooth, 20 minutes into Dublin and close to excellent train and bus services to connect you to the rest of Ireland. This is exactly where you want to be.
    </p>
</div>

<!-- Row Text Image -->
<section class="home-text-slider">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-12 col-lg-6 pr-lg-0 text-position order-1 order-lg-0">
                <div class="box-content">
                    <h2>Come and Stay</h2>
                    <p>This is your four-star home-from-home, famous for our warm welcome and relaxed elegance. The hotel you’ll want to come back to time and time again because it feels so right. With fantastic accommodation, excellent value and two of the best restaurants in Kildare, our stars are just four of the many reasons you’ll love the Glenroyal.</p>
                    <a href="#" class="btn-cta">Stay with us</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 pl-lg-0 slider-position order-0 order-lg-1">
                <div class="standard-slider">
                    <div class="slider-item" style="background-image: url('public/images/grb.jpg')"></div>
                    <div class="slider-item" style="background-image: url('public/images/grb.jpg')"></div>
                    <div class="slider-item" style="background-image: url('public/images/grb.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Home Slider Text -->
<section class="home-slider-text">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-12 col-lg-6 pr-lg-0">
                <div class="standard-slider">
                    <div class="slider-item" style="background-image: url('public/images/grb.jpg')"></div>
                    <div class="slider-item" style="background-image: url('public/images/grb.jpg')"></div>
                    <div class="slider-item" style="background-image: url('public/images/grb.jpg')"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pl-lg-0">
                <div class="box-content">
                    <h2>Eat and drink</h2>
                    <p>This is where you’ll find two of Maynooth and Kildare’s favourite restaurants and bars. Pop in to the recently refurbished the Arkle Bar and Restaurant and savour that relaxed, stylish feel and atmosphere which makes it so popular amongst both locals and hotel guests. Or wander in to the Shoda Market Café which specialises in fresh, wholesome, healthy local food.</p>
                    <a href="#" class="btn-cta">explore dining</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Home Slider with content-->
<section class="slider-box">
    <div class="position-relative">
        <div class="slider-box-content d-block d-lg-flex position-relative">
            <div class="slider-item container-fluid ">
                <img src="public/images/offer-image.jpg" alt="">
                <div class="slider-box-content-text">
                    <h3>Mid-Term Little Adventures Package</h3>
                    <p>Keep the whole family entertained this mid-term with our overnight Little Adventures Packages starting from €259.</p>
                    <a href="#" class="btn-cta">see offer</a>
                </div>
            </div>
            <div class="slider-item container-fluid ">
                <img src="public/images/offer-image.jpg" alt="">
                <div class="slider-box-content-text">
                    <h3>Mid-Term Little Adventures Package</h3>
                    <p>Mid-Term Little Adventures Package</p>
                    <a href="#" class="btn-cta">see offer</a>
                </div>
            </div>
            <div class="slider-item container-fluid ">
                <img src="public/images/offer-image.jpg" alt="">
                <div class="slider-box-content-text">
                    <h3>Mid-Term Little Adventures Package</h3>
                    <p>Mid-Term Little Adventures Package</p>
                    <a href="#" class="btn-cta">see offer</a>
                </div>
            </div>
            <div class="slider-item container-fluid ">
                <img src="public/images/offer-image.jpg" alt="">
                <div class="slider-box-content-text">
                    <h3>Mid-Term Little Adventures Package</h3>
                    <p>Mid-Term Little Adventures Package</p>
                    <a href="#" class="btn-cta">see offer</a>
                </div>
            </div>
        </div>
        <div class="slider-btns">
            <a href="javascript:;" class="slick-arrow"><img src="public/images/icons/left-square.svg" id="prev-offer"></a>
            <a href="javascript:;" class="slick-arrow"><img src="public/images/icons/right-square.svg" id="next-offer"></a>
        </div>
    </div>
</section>

<!-- Instagram Feed -->
<div class="container-fluid">
    <div class="insta-heading text-right">
        <h2># glenroyal_hotel</h2>
    </div>
    <section class="insta-feed" id="instagram">
        <figure class="insta-feed__item insta-feed__item--1" id="inst1">
            
        </figure>
        <figure class="insta-feed__item insta-feed__item--2" id="inst2">
            
        </figure>
        <figure class="insta-feed__item insta-feed__item--3" id="inst3">
        </figure>
        <figure class="insta-feed__item insta-feed__item--4" id="inst4">
        </figure>
        <figure class="insta-feed__item insta-feed__item--5 d-none d-lg-block" id="inst5">
        </figure>
        <figure class="insta-feed__item insta-feed__item--6 d-none d-lg-block" id="inst6">
        </figure>
        <figure class="insta-feed__item insta-feed__item--7 d-none d-lg-block" id="inst7">
        </figure>
        <figure class="insta-feed__item insta-feed__item--8 d-none d-lg-block" id="inst8">
        </figure>
        <figure class="insta-feed__item insta-feed__item--9 d-none d-lg-block" id="inst9">
        </figure>
    </section>
</div>

<!-- Map Section -->
<section class="map-section d-block d-lg-flex justify-content-between">
    <img src="public/images/map-corporate.png" class="img-fluid" alt="">
    <div class="home-find-us">
        <h2>Find Us</h2>
        <p>Just a stroll from Maynooth Town, 20 minutes from Dublin, and less than 40 minutes from the airport. With excellent national rail & bus and motorway connections on our door step, we're close to everywhere!</p>
        <a href="#" class="btn-cta">our location</a>
    </div>
</section>

<!-- Newsletter -->
<section class="newsletter-signup">
    <div class="row align-content-center">
        <div class="col-12 col-lg-6">
            <h2>Get in the Know</h2>
        </div>
        <div class="col-12 col-lg-6">
            <form>
                <p>Join our newsletter mailing list to keep up to date with all our latest special offers, news and events.</p>
                <div class="form-group newsletter-input">
                    <input type="email" class="form-control" placeholder="Email address" onfocus="this.placeholder = ''">
                </div>
                <a href="#" class="btn-cta newsletter-btn">Join the list</a>
            </form>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="footer-links">
            <div class="d-lg-flex justify-content-between align-items-center">
                <a href="#"><img src="public/images/logo-stars-placeholder.png" alt=""></a>
                <ul class="footer-nav">
                    <li><a href="#">aaa</a></li>
                    <li><a href="#">bbb</a></li>
                    <li><a href="#">ccc</a></li>
                    <li><a href="#">ddd</a></li>
                    <li><a href="#">eee</a></li>
                </ul>
                <ul class="footer-social-links">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li></a>
                    <li><a href=""><i class="fa fa-instagram"></i></li></a>
                    <li><a href=""><i class="fa fa-twitter"></i></li></a>
                </ul>
            </div>
        </div>
        <div class="footer-contact">
            <div class="row align-items-end">
                <div class="col-12 col-lg-6 order-1 order-lg-0">
                    <p>Glenroyal Hotel & Leisure Club, Straffan Road, Maynooth, W23 C2V1, Co. Kildare</p>
                </div>
                <div class="col-12 col-lg-6 text-lg-right order-0 order-lg-1 pb-4 pb-lg-0">
                    <p class="pb-2 pb-lg-0">+353 (0) 1 629 0909</p>
                    <p>info@glenroyal.ie / reservations@glenroyal.ie</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-devider d-none d-lg-block"></div>
    <div class="container-fluid">
        <div class="footer-sub-links text-center">
            <ul>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Mobile Sticky Widget -->
<section class="mobile-buttons d-md-none">
    <div class="row">
        <div class="col-4 pr-0"><a href="javascript:;">MAP</a></div>
        <div class="col-4 call-btn"><a href="javascript:;">CALL</a></div>
        <div class="col-4 book-btn pl-0"><a href="javascript:;" onclick="openWidget()">BOOK</a></div>
    </div>
</section>

<div id="booking-widget" class="booking-widget">
    <a href="javascript:void(0)" class="closebtn" onclick="closeWidget()">
        <img src="public/images/icons/close-x.svg" alt="">
    </a>
    <div class="widget-form">
        <h2 class="d-none d-lg-block">Book Your Stay</h2>

        <form action="">
            <div class="form-group">
                <div class="booking-widget-datepicker">
                    <input class="form-control" type="text" id="trigger-single" :value="formatDates(arrivalDate)" placeholder="Select date" readonly>
                    <input type="hidden" name="arrival" :value="arrivalDate">
                    <airbnb-style-datepicker
                            :trigger-element-id="'trigger-single'"
                            :mode= "'single'"
                            :date-one="arrivalDate"
                            :months-to-show="1"
                            @date-one-selected="dateSelected"
                    ></airbnb-style-datepicker>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1 Night</option>
                    <option>2 Nights</option>
                    <option>3 Nights</option>
                    <option>4 Nights</option>
                    <option>5 Nights</option>
                </select>
            </div>

            <div class="guest-quantity" id="guest-widget" v-for="room in rooms">
                <div class="d-flex total-guests roll" v-on:click="isHidden = !isHidden">
                    <p>{{totalRooms}} room</p>
                    <p>{{totalPeople}} people</p>
                </div>

                <div class="guest-widget-buttons" v-if="!isHidden">
                    <div class="guest-widget-buttons-container">
                        <div class="d-flex align-items-center justify-content-between">
                            <p>How many rooms?</p>
                            <div class="d-flex align-items-center justify-content-between w-50">
                                <button type="button" @click="room.quantity -= 1">-</button>
                                    <span v-model.number="room.quantity">{{room.quantity}}</span>
                                <button type="button" @click="room.quantity += 1">+</button>
                            </div>
                        </div>
                        <div class="guest-info" v-if="room.quantity >= 4">
                            <p class="room-number">Room {{room.quantity}}</p>
                            <div class="align">
                                <div class="d-flex align-items-center mb-3" v-for="person in people">
                                    <p>{{person.name}}</p>
                                    <div class="d-flex align-items-center justify-content-between w-50">
                                        <button type="button" @click="person.quantity -= 1">-</button>
                                            <span>{{person.quantity}}</span>
                                        <button type="button" @click="person.quantity += 1">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="guest-info" v-if="room.quantity >= 3">
                            <p class="room-number">Room {{room.quantity}}</p>
                            <div class="align">
                                <div class="d-flex align-items-center mb-3" v-for="person in people">
                                    <p>{{person.name}}</p>
                                    <div class="d-flex align-items-center justify-content-between w-50">
                                        <button type="button" @click="person.quantity -= 1">-</button>
                                            <span>{{person.quantity}}</span>
                                        <button type="button" @click="person.quantity += 1">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="guest-info" v-if="room.quantity >= 2">
                            <p class="room-number">Room {{room.quantity}}</p>
                            <div class="align">
                                <div class="d-flex align-items-center mb-3" v-for="person in people">
                                    <p>{{person.name}}</p>
                                    <div class="d-flex align-items-center justify-content-between w-50">
                                        <button type="button" @click="person.quantity -= 1">-</button>
                                            <span>{{person.quantity}}</span>
                                        <button type="button" @click="person.quantity += 1">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="guest-info" v-if="room.quantity >= 1">
                            <p class="room-number">Room {{room.quantity}}</p>
                            <div class="align">
                                <div class="d-flex align-items-center my-3" v-for="person in people">
                                    <p>{{person.name}}</p>
                                    <div class="d-flex align-items-center justify-content-between w-50">
                                        <button type="button" @click="person.quantity -= 1">-</button>
                                            <span>{{person.quantity}}</span>
                                        <button type="button" @click="person.quantity += 1">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="apply-btn" v-on:click="isHidden = true">Apply</button>
                    </div>
                </div>
            </div>
            <div class="promo-code">
                <a href="javascript:;" class="promo-code-link">Add a code +</a>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Type your code...">
                </div>
            </div>
            <button type="submit" class="btn-cta w-100">Search</button>
        </form>
        <div class="d-flex align-items-center free-drink">
            <img src="public/images/icons/icon-free-drink.svg">
            <p>Book online with us and get a free drink at or hot beverage at the Arkle Bar & Restaurant!</p>
        </div>
    </div>
</div>

    <!-- JS Files -->

    <!-- jQuery -->
    <script src="public/js/jquery-3.4.1.min.js"></script>

    <!-- Multi Select -->
    <script type="text/javascript" src="public/js/popper.js"></script>

    <!-- Prefixfree -->
    <script type="text/javascript" src="public/js/prefixfree.min.js"></script>
    <script type="text/javascript" src="public/js/prefixfree.dynamic-dom.min.js"></script>
    <script type="text/javascript" src="public/js/prefixfree.viewport-units.js"></script>
    <script type="text/javascript" src="public/js/prefixfree.jquery.js"></script>

    <!-- Slick -->
    <script type="text/javascript" src="public/js/slick.min.js"></script>
    <!-- Vue Datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/vue-airbnb-style-datepicker.min.js"></script>

    <!-- Bootstrap -->
    <script src="public/js/bootstrap.min.js">
    </script>

    <!-- Custom -->
    <script src="public/js/custom.js"></script>
    <script src="public/js/sliders.js"></script>

<script>
    // $(document).ready(function() {
    //     // Instagram
    //     $.ajax({
    //         method: "GET",
    //         url: "https://api.instagram.com/v1/users/self/media/recent/?access_token=4416246264.1677ed0.ec76a71695d143338993973248f4ab6a"
    //     }).done(function(data) {
    //         $('#instagram').css({"visibility": "visible"});
    //         var imagesFromInstagram = data.data;
    //         var imagesToDisplay = 10;
    //         var imagesFound = imagesFromInstagram.length;
    //         var count = 0;
    //         for (var key in imagesFromInstagram) {
    //             if (imagesFromInstagram.hasOwnProperty(key)) {
    //                 $('#instagram #inst' + key).css({"background-image": "url('" + imagesFromInstagram[key]['images']['standard_resolution']['url'] + "')", "background-size": "cover"});
    //                 var width = imagesFromInstagram[key]['images']['low_resolution']['width'];
    //                 var height = imagesFromInstagram[key]['images']['low_resolution']['height'];
    //                 $('#instagram #inst' + key + ' a').attr('href', imagesFromInstagram[key]['link']);
    //                 // Fix height
    //                 $('#inst' + key).height($('#inst' + key).width());
    //                 var caption = '';
    //                 if (imagesFromInstagram[key]['caption'] != null) caption = imagesFromInstagram[key]['caption']['text'];
    //                 $('#instagram #inst' + key + ' .imgDescription').text(caption);
    //                 var likes = 0;
    //                 if (imagesFromInstagram[key]['likes'] != null) likes = imagesFromInstagram[key]['likes']['count'];
    //                 $('#instagram #inst' + key + ' .likes').text(likes);
    //                 var comments = 0;
    //                 if (imagesFromInstagram[key]['comments'] != null) likes = imagesFromInstagram[key]['comments']['count'];
    //                 $('#instagram #inst' + key + ' .comments').text(comments);
    //                 if (++count == imagesToDisplay) break;
    //             }
    //         }
    //     }).fail(function(jqXHR, textStatus) {
    //         console.log( "Request failed [instagram api]");
    //     });
    // })
</script>

    <!-- Vue Datepicker -->
    <script>

        window.datePickerMixin = {
            data: {
                dateFormat: '',
                arrivalDate: ''
            },
            methods: {
                dateSelected: function(date) {
                    this.arrivalDate = date;
                },

                getDateSuffix: function(d) {
                    if (d > 3 && d < 21) return 'th';
                    switch (d % 10) {
                        case 1:  return "st";
                        case 2:  return "nd";
                        case 3:  return "rd";
                        default: return "th";
                    }
                },

                formatDates: function(date) {
                    var daysShort = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                    var shortMonthNames = [
                        'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
                    ];

                    var date = new Date(date);

                    return daysShort[date.getUTCDay()] + ' ' + date.getUTCDate() + this.getDateSuffix(date.getUTCDate()) + ' ' + shortMonthNames[date.getUTCMonth()];
                }
            }
        }

        window.initDatePicker = function(arrivalDate) {
            var datePickers = document.querySelectorAll('.date-picker');
            if ( ! datePickers || ! datePickers.length) {
                return;
            }

            // define options (optional)
            var datepickerOptions = {
                sundayFirst: true,
                colors: {
                    selected: '#57565b',
                    inRange: '#66e2da',
                    selectedText: '#fff',
                    text: '#565a5c',
                    inRangeBorder: '#33dacd',
                    disabled: '#fff',
                    hoveredInRange: '#67f6ee'
                },
            }
            // install plugin
            Vue.use(window.AirbnbStyleDatepicker, datepickerOptions);

            datePickers.forEach(function (element) {
                new Vue({
                    el: element,
                    mixins: [window.datePickerMixin],
                    mounted: function () {

                        if (arrivalDate) {
                            this.arrivalDate = arrivalDate;
                        } else {
                            this.arrivalDate = new Date();
                        }
                    }
                });
            });
        }
        initDatePicker('2020-03-20');


        window.initDatePickerBW = function(arrivalDate) {
            var datePickers = document.querySelectorAll('.booking-widget-datepicker');
            if ( ! datePickers || ! datePickers.length) {
                return;
            }

            // define options (optional)
            var datepickerOptions = {
                sundayFirst: true,
                colors: {
                    selected: '#57565b',
                    inRange: '#66e2da',
                    selectedText: '#fff',
                    text: '#565a5c',
                    inRangeBorder: '#33dacd',
                    disabled: '#fff',
                    hoveredInRange: '#67f6ee'
                },
            }
            // install plugin
            Vue.use(window.AirbnbStyleDatepicker, datepickerOptions);

            datePickers.forEach(function (element) {
                new Vue({
                    el: element,
                    mixins: [window.datePickerMixin],
                    mounted: function () {

                        if (arrivalDate) {
                            this.arrivalDate = arrivalDate;
                        } else {
                            this.arrivalDate = new Date();
                        }
                    }
                });
            });
        }
        initDatePickerBW('2020-03-20');

    
    </script>

    <script>
        new Vue({
            el: '#guest-widget',
            data: {
                rooms: [{"id":1,"quantity":1,"name":"Room"}],
                people: [{"id":1,"quantity":1,"name":"Adult"},{"id":2,"quantity":0,"name":"Children"},{"id":3,"quantity":0,"name":"Infant"}],
                isHidden: true
            },
            computed: {
                totalRooms () {
                    return this.rooms.reduce((sum, room) => {
                        return sum + room.quantity
                    }, 0)
                },
                totalPeople () {
                    return this.people.reduce((sum, people) => {
                        return sum + people.quantity
                    }, 0)
                }
            }
        })
    </script>

</body>
</html>