// Fonts
$headingFont: 'Montserrat', sans-serif;
$textFont: 'Montserrat', sans-serif;

// Colours
$primaryFontColor: #333232;
$primaryColor: #333232;
$secondaryColor: #fff;
$pageBg: #fff;
$bookingSummaryBackgroundColor: #f2f2f2;
$cardBackgroundColor: #fff;
$modalDescription2Background: #f2f2f2;
$modalBackgroundColour: #fff;

// Icons
$selectIcon: url(../../public/images/icons/p3/icon-chevron-dark-down.svg);
$tickIcon: url(../../public/images/icons/p3/icon-tick-square.svg);
$confirmationIcon: url(../../public/images/icons/p3/icon-Confirmation.svg);