@import './variables';
@import './resets';
@import './mixins';
@import './p3mixins';
@import './p3';
@import './header';
@import './footer';

// Slick
.slick-dots {
    bottom: 50px;
}
.slick-dots li button:before {
    font-size: 15px;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.slick-dots li.slick-active button:before {
    color: white;
    opacity: 1;
}
.slick-dots li button:hover:before {
    opacity: 0.2;
    color: white;
}

// container
.container-fluid {
    @include mQ (992px) {
        padding: 0 3vw;
    }
    @include mQ (1200px) {
        padding: 0 10vw;
    }
}

// Home Banner
.home-banner {
    .banner-item {
      height: 487px;
      background-size: cover;
      background-position: center;
      @include mQ (992px) {
        height: 660px;
      }
    }
    .banner-box-content {
      border: solid 1px #ffffff;
      background-color: rgba(33, 32, 37, 0.1);
      margin-top: 114px;
      max-width: 1014px;
      margin: auto;
      padding: 60px 30px;
    }
    .banner-box-wrapper {
      margin: 114px 20px 0 20px;
      @include mQ(992px) {
        margin: 185px 20px 0 20px;
      }
      h2 {
          color: white;
      }
    }
    .banner-devider {
        display: block;
        border-bottom: 1px solid #ccc;
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
  }
  .banner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -46px;
    margin-left: -100px;
    height: 92px;
    width: 200px;
    @include mQ(992px) {
      height: 180px;
      width: 393px;
      margin-top: -90px;
      margin-left: -196px;
    }
    img {
      object-fit: cover
    }
  }
.btn-transparent {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    height: 50px;
    padding: 0 20px;
    &:hover {
        background: transparent;
        color: #fff;
        border: 2px solid #fff;
        cursor: pointer;
    }
}

// Home Italic Text
.home-italic-text {
    text-align: center;
    font-size: $headingFont;
    font-size: 18px;
    font-style: italic;
    line-height: 28px;
    color: rgba(87, 86, 91, 0.7);
    padding: 30px 15px;
    @include mQ(992px) {
        padding: 50px 20vw;
        font-size: 20px;
    }
    p {
        padding-bottom: 10px;
    }
}