@import './variables';
@import './resets';
@import './mixins';
@import './p3mixins';
@import './p3';
@import './header';
@import './footer';

// Slick
.slick-dots {
    bottom: 50px;
}
.slick-dots li button:before {
    font-size: 15px;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.slick-dots li.slick-active button:before {
    color: white;
    opacity: 1;
}
.slick-dots li button:hover:before {
    opacity: 0.2;
    color: white;
}

// container
.container-fluid {
    @include mQ (992px) {
        padding: 0 3vw;
    }
    @include mQ (1200px) {
        padding: 0 10vw;
    }
    max-width: 1920px;
}

// Home Page
.italic-text {
    font-family: Gelasio;
    font-size: 18px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
    color: rgba(87, 86, 91, 0.7);
    padding: 30px 15px;
    @include mQ(992px) {
        padding: 50px 200px;
        font-size: 20px;
    }
}

.home-text-image {
    background-color: #f6f6f6;
    text-align: center;
    @include mQ (992px) {
        padding: 100px 0;
    }
    .col-12 {
        @include mQmax (991px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .box-content {
        background-color: #fff;
        padding: 20px 15px;
        @include mQ(992px) {
            padding: 130px 100px;
        }
        h2 {
            font-size: 30px;
            color: #c0bfc2;
            padding-bottom: 20px;
            @include mQ (992px) {
                font-size: 60px;
            }
        }
        p {
            font-size: 16px;
            line-height: 26px;
            color: $primaryFontColor;
            font-family: $textFont;
            padding-bottom: 40px;
        }
    }
    h2 {

    }
}