.nav {
  background-color: $primaryColour1;
  padding: 15px;
  @include mQ(992px) {
      padding: 24px;
  }
  &__logo {
    height: 40px;
    width: auto;
    @include mQ(992px) {
        height: 48px;
    }
  }
  &__open {
    background: inherit;
    border: none;
    background: url("/images/icons/nav-open.svg");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__close {
    background: inherit;
    border: none;
    background: url("/images/icons/nav-close.svg");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__desktop {
      &__links {
          margin-bottom: 0;
          li {
              display: inline-block;
              padding: 0 16px;
          }
          a {
              color: #fff;
          }
          .button-secondary-on-dark {
              padding: 10px 32px; 
          }
        }
      &__lang {
          background-color: inherit;
          border: none;
          color: #fff;
          &:active, &:focus {
              background-color: inherit;
              color: #fff;
              border: none;
            }
          }
          option {
              color: $primaryColour1;
          }
  }
  &-btn {
        border-left: 1px solid #fff;
        padding-left: 40px!important;
        margin-left: 24px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  &__header {
    padding: 15px;
  }
  &__links {
    padding: 15px;
    list-style: none;
  }
  &__item {
    margin-bottom: 32px;
  }
  &__dropdown {
    display: none;
    margin: 32px 0;
    list-style: none;
    padding-left: 40px;
    li {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &--toggle {
        &::after {
            content: url('/images/icons/chevron-down.svg');
            width:20px;
            height: 20px;
            position: absolute;
        }
        &-open {
            border-bottom: 2px solid $secondaryColour2;
            &::after {
                content: url('/images/icons/chevron-up.svg');
            }
        }
    }
  }
  &__lang {
      border: none;
  }
}

.sidenav { 
    a {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.06px;
    color: $primaryColour1;
    }
    &:focus {
        color: $primaryColour1;
    }
}


.sidenav .closebtn {
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
