$headingFont: 'Questrial';
$textFont: 'Muli';

// Colours
$primaryColour1: #001a70;
$primaryColour2: #05c3dd;
$primaryColour3: #9678d3;
$primaryColour4: #47d7ac;

$secondaryColour1: #2c5697;
$secondaryColour2: #94a9cb;
$secondaryColour3: #009cbd;
$secondaryColour4: #a4dbe8;
$secondaryColour5: #7d55c7;
$secondaryColour6: #d9c5e6;
$secondaryColour7: #00ab8e;
$secondaryColour8: #a5dfd3;