* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html, body {
  overflow-x: hidden !important;
}

p {
  margin-bottom: 0;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

button {
  margin-bottom: 0;
}

a {
  color: #57565b;
  text-decoration: none;
}

a:hover {
  color: #57565b;
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  color: #57565b;
  text-decoration: none;
}

.btn-primary {
  background-color: #57565b;
  border-radius: 0;
  border: 1px solid #57565b;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  background-color: #fff;
  color: #57565b;
  border: 1px solid #57565b;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #57565b;
  background-color: #57565b;
  color: #57565b;
}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle {
  border-color: #57565b;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 15px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../../public/images/icons/p3/icon-chevron-dark-down.svg);
  padding: 4px 23px 4px 10px;
}

select:focus {
  outline: none;
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.form-control:focus {
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

form select::-ms-expand {
  display: none;
}

.btn-cta {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #f0f0f0;
  height: 50px;
  background-color: #57565b;
  border-radius: 2px;
  border: 2px solid #57565b;
  padding: 15px 20px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
          box-shadow: inset 0px 0px 0px 1px #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.btn-cta:hover, .btn-cta:active {
  color: #f0f0f0;
  cursor: pointer;
  background-color: rgba(87, 86, 91, 0.8);
  border: 2px solid rgba(87, 86, 91, 0.8);
}

.btn-cta:focus {
  background-color: #424146;
  border: 2px solid #424146;
  color: #f0f0f0;
}

.newsletter-btn {
  background-color: rgba(240, 240, 240, 0.2);
  border: solid 2px rgba(240, 240, 240, 0.2);
}

.galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galleryContent figure {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.galleryContent figure img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleryContent figure {
  margin-bottom: 30px;
}

.galleryContent figure a {
  display: block;
  height: 0;
  padding-bottom: 47%;
  position: relative;
  overflow: hidden;
}

.galleryContent [class*="--fourth"] a {
  padding-bottom: 99%;
}

.galleryContent figure img {
  display: block;
  position: absolute;
  top: -1000px;
  bottom: -1000px;
  margin: auto;
  left: -1000px;
  right: -1000px;
  height: 100%;
  min-width: 100%;
  max-width: none;
}

@media screen and (min-width: 768px) {
  .galleryContent *[class*='--half'] {
    width: 48.685%;
  }
  .galleryContent *[class*='--fourth'] {
    width: 23.071%;
  }
}

@media screen and (max-width: 767px) {
  .galleryContent {
    margin: 0 0 20px;
  }
  .galleryContent figure {
    margin-bottom: 10px;
  }
  .galleryContent *[class*='--half'] {
    width: 100%;
  }
  .galleryContent *[class*='--fourth'] {
    width: 48.5%;
  }
  .galleryContent figure img {
    width: 100%;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000 !important;
  top: 0;
  left: 0;
  background-color: #57565b;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 65px;
  max-width: 500px;
}

@media screen and (min-width: 992px) {
  .sidenav {
    padding-top: 80px;
  }
}

.sidenav a {
  padding: 15px 0;
  text-decoration: none;
  font-size: 25px;
  color: #abaaad;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

@media screen and (min-width: 992px) {
  .sidenav .closebtn {
    left: 40px;
    top: 5px;
  }
}

.sidenav .side-nav-links {
  padding: 0 20px;
}

@media screen and (min-width: 992px) {
  .sidenav .side-nav-links {
    padding: 0 40px;
  }
}

.sidenav .side-nav-links a {
  border-top: 1px solid rgba(240, 240, 240, 0.4);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.sidenav .side-nav-links a:last-child {
  border-bottom: 1px solid rgba(240, 240, 240, 0.4);
}

.sidenav .fa {
  padding: 0 7px;
  font-size: 20px;
}

.booking-widget {
  z-index: 999 !important;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #57565b;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 65px;
  max-width: 500px;
}

@media screen and (min-width: 992px) {
  .booking-widget {
    padding-top: 80px;
  }
}

.booking-widget a {
  padding: 15px 0;
  text-decoration: none;
  font-size: 25px;
  color: #abaaad;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.booking-widget a:hover {
  color: #f1f1f1;
}

.booking-widget .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
}

@media screen and (min-width: 992px) {
  .booking-widget .closebtn {
    right: 40px;
    top: 5px;
  }
}

.booking-widget h2 {
  text-align: center;
  font-size: 35px;
  color: #f0f0f0;
  font-weight: 400;
  font-family: "Gelasio";
  margin-bottom: 60px;
}

.booking-widget .widget-form {
  padding: 20px;
}

@media screen and (min-width: 992px) {
  .booking-widget .widget-form {
    padding: 20px 40px;
  }
}

.booking-widget .widget-form .form-control {
  color: #fff;
  padding: 0;
  border-bottom: solid 2px #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 15px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  background-color: #57565b;
}

.booking-widget .widget-form .form-control:hover {
  cursor: pointer;
}

.booking-widget .widget-form .form-control option {
  background-color: #57565b;
}

.booking-widget .widget-form .form-control::-webkit-input-placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.booking-widget .widget-form .form-control:-ms-input-placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.booking-widget .widget-form .form-control::-ms-input-placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.booking-widget .widget-form .form-control::placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.booking-widget .widget-form select {
  background-image: url(../../../../public/images/icons/arrrow-dropdown-light.png) !important;
}

.booking-widget .widget-form .booking-widget-datepicker .form-control {
  background-image: url(../../../../public/images/icons/calendar-light.png) !important;
}

.booking-widget .widget-form .form-group {
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .booking-widget .widget-form .form-group {
    margin-bottom: 60px;
  }
}

.booking-widget .widget-form .promo-code a {
  font-size: 18px;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.booking-widget .widget-form .promo-code .form-group {
  display: none;
}

.booking-widget .widget-form .btn-cta {
  background-color: rgba(240, 240, 240, 0.2);
  border: solid 2px rgba(240, 240, 240, 0.2);
}

.booking-widget .widget-form .free-drink {
  padding: 20px 0;
  margin-top: 30px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

@media screen and (min-width: 992px) {
  .booking-widget .widget-form .free-drink {
    margin-top: 50px;
  }
}

.booking-widget .widget-form .free-drink p {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
  line-height: 26px;
}

.booking-widget .widget-form .guest-quantity p {
  color: #fff;
  width: 100px;
}

.booking-widget .widget-form .guest-quantity .total-guests {
  border-bottom: solid 2px #fff;
  margin-bottom: 20px;
}

.booking-widget .widget-form .guest-quantity .total-guests p {
  width: auto;
  padding-bottom: 5px;
}

.booking-widget .widget-form .guest-quantity .total-guests p:after {
  content: "\2022";
  padding: 0 10px;
  color: #abaaad;
}

.booking-widget .widget-form .guest-quantity .total-guests p:last-child:after {
  content: '';
}

.booking-widget .widget-form .guest-quantity .total-guests:hover {
  cursor: pointer;
}

.booking-widget .widget-form .guest-quantity button {
  text-align: center;
  height: 45px;
  width: 45px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  background-color: rgba(240, 240, 240, 0.2);
}

.booking-widget .widget-form .guest-quantity .guest-info {
  margin: 20px 0;
}

.booking-widget .widget-form .guest-quantity span {
  text-align: center;
  width: 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.mini-nav {
  padding: 9px 15px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  background: #fff;
  z-index: 999;
}

@media screen and (min-width: 992px) {
  .mini-nav {
    padding: 14px 30px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-hide {
    top: -61px;
  }
}

.book-btn-nav {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
}

.book-btn-nav a {
  color: #57565b;
  letter-spacing: 1px;
}

.main-nav .top-main-nav {
  padding: 20px 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(87, 86, 91, 0.1);
          box-shadow: 0 2px 4px 0 rgba(87, 86, 91, 0.1);
}

.main-nav .top-main-nav .book-btn-nav {
  right: 50px;
  top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #57565b;
}

.main-nav .links-main-nav {
  font-family: "Gelasio";
  font-style: italic;
  font-size: 16px;
}

.main-nav .links-main-nav a {
  padding: 15px 4px;
  color: rgba(87, 86, 91, 0.8);
}

@media screen and (max-width: 1200px) {
  .main-nav .links-main-nav a {
    padding: 15px 5px;
  }
}

.home-banner .banner-item {
  height: 487px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .home-banner .banner-item {
    height: 660px;
  }
}

.home-banner .banner-box-content {
  border: solid 1px #ffffff;
  background-color: rgba(33, 32, 37, 0.1);
  margin-top: 114px;
  max-width: 1014px;
  margin: auto;
  padding: 60px 30px;
  color: #fff;
}

.home-banner .banner-box-content h2 {
  font-family: "Gelasio";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

@media screen and (min-width: 992px) {
  .home-banner .banner-box-content h2 {
    font-size: 32px;
  }
}

.home-banner .banner-box-content .divider {
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .home-banner .banner-box-content .divider {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.home-banner .banner-box-wrapper {
  margin: 114px 20px 0 20px;
}

@media screen and (min-width: 992px) {
  .home-banner .banner-box-wrapper {
    margin: 185px 20px 0 20px;
  }
}

.home-banner .btn {
  background: transparent;
  border-radius: 2px;
  border: solid 2px #ffffff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}

.home-banner .btn:active {
  background-color: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}

.home-banner .btn:focus {
  background-color: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}

.banner-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -46px;
  margin-left: -100px;
  height: 92px;
  width: 200px;
}

@media screen and (min-width: 992px) {
  .banner-logo {
    height: 180px;
    width: 393px;
    margin-top: -90px;
    margin-left: -196px;
  }
}

.banner-logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  footer {
    text-align: center;
  }
}

footer a {
  color: rgba(87, 86, 91, 0.85);
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 991px) {
  ul.footer-nav {
    -webkit-columns: 2;
            columns: 2;
    display: block;
  }
  ul.footer-nav li {
    display: block;
    padding-bottom: 15px;
  }
}

.footer-links {
  padding: 50px 0 30px 0;
}

.footer-links a {
  padding: 0 10px;
}

.footer-social-links .fa {
  color: #abaaad;
  font-size: 20px;
  padding: 0 3px;
}

@media screen and (max-width: 991px) {
  .footer-social-links .fa {
    margin-top: 25px;
  }
}

.footer-devider {
  border-bottom: 1px solid #f6f6f6;
  padding-top: 20px;
}

.footer-sub-links {
  margin: 20px 0 60px 0;
}

.footer-sub-links ul {
  -webkit-columns: 1;
          columns: 1;
}

.footer-sub-links ul li {
  display: inline;
}

.footer-sub-links ul li:after {
  content: "\2022";
  padding: 0 5px 0 10px;
  color: #abaaad;
}

.footer-sub-links ul li:last-child:after {
  content: '';
}

.footer-sub-links a {
  font-size: 14px;
  color: #abaaad;
}

.slick-dots {
  bottom: 50px;
}

.slick-dots li button:before {
  font-size: 15px;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-dots li button:hover:before {
  opacity: 0.2;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgba(87, 86, 91, 0.85);
}

@media screen and (min-width: 992px) {
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .container-fluid {
    padding: 0 3vw;
  }
}

@media screen and (min-width: 1200px) {
  .container-fluid {
    padding: 0 10vw;
  }
}

.home-banner .banner-item {
  height: 487px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .home-banner .banner-item {
    height: 660px;
  }
}

.home-banner .banner-box-content {
  border: solid 1px #ffffff;
  background-color: rgba(33, 32, 37, 0.1);
  margin-top: 114px;
  max-width: 1014px;
  margin: auto;
  padding: 60px 30px;
}

.home-banner .banner-box-wrapper {
  margin: 114px 20px 0 20px;
}

@media screen and (min-width: 992px) {
  .home-banner .banner-box-wrapper {
    margin: 185px 20px 0 20px;
  }
}

.home-banner .banner-box-wrapper h2 {
  color: white;
}

.home-banner .banner-devider {
  display: block;
  border-bottom: 1px solid #ccc;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -46px;
  margin-left: -100px;
  height: 92px;
  width: 200px;
}

@media screen and (min-width: 992px) {
  .banner-logo {
    height: 180px;
    width: 393px;
    margin-top: -90px;
    margin-left: -196px;
  }
}

.banner-logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  height: 50px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.btn-transparent:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

.btn-transparent:focus {
  color: #fff !important;
}

.btn-transparent:active {
  color: #fff !important;
}

.home-italic-text {
  text-align: center;
  padding: 30px 15px;
}

@media screen and (min-width: 992px) {
  .home-italic-text {
    padding: 50px 20vw;
    font-size: 20px;
  }
}

.home-italic-text p {
  padding-bottom: 10px;
  max-width: 1920px;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  color: rgba(87, 86, 91, 0.7);
  font-family: "Gelasio";
}

@media screen and (min-width: 992px) {
  .home-italic-text p {
    font-size: 20px;
  }
}

.home-text-slider {
  background-color: #f6f6f6;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .home-text-slider {
    padding: 100px 0;
    height: 913px;
  }
}

@media screen and (max-width: 991px) {
  .home-text-slider .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .home-text-slider .text-position {
    position: absolute !important;
    top: 50px;
    z-index: 7;
  }
}

@media screen and (min-width: 992px) {
  .home-text-slider .slider-position {
    position: absolute !important;
    right: 0px;
  }
}

.home-text-slider .box-content {
  background-color: #fff;
  padding: 40px 15px;
}

@media screen and (min-width: 992px) {
  .home-text-slider .box-content {
    padding: 40px 30px;
    width: 107%;
  }
}

@media screen and (min-width: 1500px) {
  .home-text-slider .box-content {
    padding: 130px 100px;
  }
}

.home-text-slider .box-content h2 {
  font-size: 30px;
  color: #c0bfc2;
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .home-text-slider .box-content h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .home-text-slider .box-content h2 {
    font-size: 60px;
  }
}

.home-text-slider .box-content p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(87, 86, 91, 0.85);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
}

.home-slider-text {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .home-slider-text {
    padding: 100px 0;
    height: 913px;
  }
}

@media screen and (max-width: 991px) {
  .home-slider-text .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .home-slider-text .text-position {
    position: absolute !important;
    right: 50px;
    top: 50px;
    z-index: 7;
  }
}

@media screen and (min-width: 992px) {
  .home-slider-text .slider-position {
    position: absolute !important;
    left: 0px;
  }
}

.home-slider-text .box-content {
  background-color: #fff;
  padding: 40px 15px;
}

@media screen and (min-width: 992px) {
  .home-slider-text .box-content {
    padding: 130px 60px;
  }
}

.home-slider-text .box-content h2 {
  font-size: 30px;
  color: #c0bfc2;
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .home-slider-text .box-content h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .home-slider-text .box-content h2 {
    font-size: 60px;
  }
}

.home-slider-text .box-content p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(87, 86, 91, 0.85);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
}

.standard-slider .slider-item {
  height: 238px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .standard-slider .slider-item {
    height: 600px;
  }
}

@media screen and (min-width: 1500px) {
  .standard-slider .slider-item {
    height: 713px;
  }
}

.standard-slider .slick-dots {
  bottom: 10px;
}

.not-slider .slick-dots {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider-box {
  background: #f6f6f6;
  padding: 50px 0 100px 0;
}

@media screen and (min-width: 992px) {
  .slider-box {
    padding: 100px 0;
  }
}

@media screen and (min-width: 992px) {
  .slider-box .slick-initialized .slick-slide {
    height: 604px;
  }
}

.slider-box .slider-box-content img {
  width: 100%;
  height: 187px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  .slider-box .slider-box-content img {
    max-width: 600px;
    height: 604px;
  }
}

@media screen and (min-width: 1200px) {
  .slider-box .slider-box-content img {
    max-width: 684px;
  }
}

@media screen and (min-width: 1400px) {
  .slider-box .slider-box-content img {
    max-width: 884px;
  }
}

.slider-box .slider-box-content .slider-box-content-text {
  background: #fff;
  padding: 20px;
}

@media screen and (min-width: 992px) {
  .slider-box .slider-box-content .slider-box-content-text {
    position: relative;
    right: 0;
    padding: 40px;
    top: -470px;
    float: right;
    max-width: 700px;
  }
}

.slider-box .slider-box-content .slider-box-content-text h3 {
  font-size: 24px;
  color: #57565b;
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .slider-box .slider-box-content .slider-box-content-text h3 {
    font-size: 32px;
    padding-bottom: 27px;
  }
}

.slider-box .slider-box-content .slider-box-content-text p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(87, 86, 91, 0.85);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
}

.slider-box .slider-btns {
  display: block;
  float: right;
}

@media screen and (max-width: 991px) {
  .slider-box .slider-btns {
    padding-top: 20px;
    margin-right: 15px;
  }
}

.slider-box .slider-btns a {
  margin: 0 3px;
}

@media screen and (min-width: 992px) {
  .slider-box .slider-btns {
    position: absolute;
    right: 3vw;
    top: 415px;
  }
}

@media screen and (min-width: 1200px) {
  .slider-box .slider-btns {
    right: 10vw;
  }
}

.map-section img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .map-section img {
    max-width: 1206px;
    width: 630px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .map-section img {
    width: 830px;
  }
}

@media screen and (min-width: 1440px) {
  .map-section img {
    width: 1000px;
  }
}

@media screen and (min-width: 1600px) {
  .map-section img {
    width: 100%;
  }
}

.map-section .home-find-us {
  text-align: center;
  padding: 20px 15px 40px 15px;
}

.map-section .home-find-us h2 {
  font-size: 30px;
  color: #c0bfc2;
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .map-section .home-find-us h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .map-section .home-find-us h2 {
    font-size: 60px;
  }
}

.map-section .home-find-us p {
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .map-section .home-find-us {
    padding-right: 30px;
    text-align: right;
    padding-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .map-section .home-find-us {
    padding-right: 10vw;
  }
}

.newsletter-signup {
  padding: 30px 20px;
  background: #57565b;
}

.newsletter-signup h2 {
  font-size: 30px;
  color: #c0bfc2;
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .newsletter-signup h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter-signup h2 {
    font-size: 60px;
  }
}

@media screen and (min-width: 992px) {
  .newsletter-signup h2 {
    padding-top: 90px;
    font-size: 45px;
    text-align: right;
    margin-right: 40px;
  }
}

.newsletter-signup p {
  color: #f6f6f6;
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .newsletter-signup {
    padding: 95px 10vw;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter-signup {
    padding: 95px 15vw;
  }
}

.newsletter-signup .newsletter-devider {
  display: block;
  border-bottom: 2px solid #fff;
  width: 100%;
  max-width: 300px;
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .newsletter-signup .newsletter-devider {
    max-width: 300px;
    margin-bottom: 50px;
  }
}

.newsletter-signup .form-control {
  background: transparent;
  color: #fff;
  padding: 0;
}

.newsletter-signup .form-control::-webkit-input-placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.newsletter-signup .form-control:-ms-input-placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.newsletter-signup .form-control::-ms-input-placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.newsletter-signup .form-control::placeholder {
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
}

.newsletter-signup .form-group {
  margin-bottom: 0;
}

@media screen and (max-width: 370px) {
  .newsletter-signup .newsletter-btn {
    width: 100%;
  }
}

.breadcrumb {
  padding: 0;
  background-color: inherit;
  font-family: "Gelasio";
  font-size: 16px;
  font-style: italic;
  margin-bottom: 60px;
}

.breadcrumb a {
  color: rgba(87, 86, 91, 0.6);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(87, 86, 91, 0.6);
  content: ">";
}

.breadcrumb-item.active {
  color: rgba(87, 86, 91, 0.6);
}

.insta-heading {
  margin-top: 40px;
}

.insta-heading h2 {
  font-size: 16px;
  color: #abaaad;
  font-family: "Gelasio";
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .insta-heading h2 {
    font-size: 32px;
  }
}

.insta-feed {
  margin: 15px 0 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  -ms-grid-rows: (5vw)[10];
      grid-template-rows: repeat(10, 5vw);
  grid-gap: 15px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .insta-feed {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (5vw)[6];
        grid-template-rows: repeat(6, 5vw);
  }
}

.insta-feed .insta-feed__img {
  background-size: cover;
  background-position: center;
  width: 100% !important;
  height: 100% !important;
}

.insta-feed .insta-feed__item {
  background-size: cover;
  background-position: center;
  width: 100% !important;
  height: 100% !important;
}

.insta-feed .insta-feed__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.insta-feed .insta-feed__item--2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.insta-feed .insta-feed__item--3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

.insta-feed .insta-feed__item--4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

@media screen and (min-width: 992px) {
  .insta-feed .insta-feed__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
  }
  .insta-feed .insta-feed__item--2 {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .insta-feed .insta-feed__item--3 {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .insta-feed .insta-feed__item--4 {
    -ms-grid-column: 9;
        grid-column-start: 9;
    grid-column-end: 11;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .insta-feed .insta-feed__item--5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
  .insta-feed .insta-feed__item--6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
  }
  .insta-feed .insta-feed__item--7 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
  }
  .insta-feed .insta-feed__item--8 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
  }
  .insta-feed .insta-feed__item--9 {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 11;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 7;
  }
}

.content-banner {
  padding-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .content-banner {
    padding-bottom: 10px;
  }
}

.content-banner .banner-img {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  .content-banner .banner-img {
    height: 400px;
  }
}

.content-banner .banner-box-content {
  border: solid 1px #ffffff;
  background-color: rgba(33, 32, 37, 0.1);
  max-width: 1014px;
  margin: auto;
  padding: 17px 59px;
}

@media screen and (min-width: 992px) {
  .content-banner .banner-box-content {
    padding: 28px 148px;
  }
}

.content-banner .banner-box-wrapper {
  margin: 0 20px 0 20px;
}

@media screen and (min-width: 992px) {
  .content-banner .banner-box-wrapper {
    margin: 0 20px 0 20px;
  }
}

.content-banner .banner-box-wrapper h2 {
  color: white;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .content-banner .banner-box-wrapper h2 {
    font-size: 32px;
  }
}

.content-banner .banner-devider {
  display: block;
  border-bottom: 1px solid #ccc;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.room-row {
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .room-row {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .room-row .standard-slider {
    margin-bottom: 21px;
  }
}

.room-row .standard-slider .slider-item {
  height: 173px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .room-row .standard-slider .slider-item {
    height: 450px;
  }
}

@media screen and (min-width: 1500px) {
  .room-row .standard-slider .slider-item {
    height: 450px;
  }
}

.room-row .standard-slider .slick-dots {
  bottom: 10px;
}

.room-row span {
  font-family: "Gelasio";
  font-size: 15px;
  font-style: italic;
  color: rgba(87, 86, 91, 0.6);
  margin-bottom: 10px;
  display: block;
}

@media screen and (min-width: 992px) {
  .room-row span {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.room-row h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .room-row h2 {
    font-size: 32px;
    margin-bottom: 23px;
  }
}

.room-row .expand ul {
  margin-top: 20px;
  list-style-position: inside;
}

@media screen and (min-width: 992px) {
  .room-row .expand ul {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media screen and (max-width: 991px) {
  .room-row .expand ul {
    display: none;
  }
}

.room-row .expand ul li {
  font-size: 15px;
  line-height: 26px;
  color: rgba(87, 86, 91, 0.85);
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 992px) {
  .room-row .expand ul li {
    font-size: 15px;
  }
}

.room-row .expand a {
  font-size: 15px;
  line-height: 24px;
  color: #626166;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  margin: 20px 0;
  display: block;
}

@media screen and (min-width: 992px) {
  .room-row .expand a {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .room-row .btn-cta {
    width: 100%;
  }
}

.standard__heading-text {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .standard__heading-text {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 992px) {
  .standard__heading-text {
    margin-bottom: 100px;
  }
}

.standard__heading-text h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .standard__heading-text h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .standard__heading-text h2 {
    margin-bottom: 20px;
  }
}

.standard__heading-text span {
  font-family: "Gelasio";
  font-size: 15px;
  font-style: italic;
  color: rgba(87, 86, 91, 0.6);
  margin-bottom: 15px;
  display: block;
}

@media screen and (min-width: 992px) {
  .standard__heading-text span {
    font-size: 16px;
  }
}

.standard__heading-text p {
  margin-bottom: 20px;
}

.standard__image-text {
  margin-bottom: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 992px) {
  .standard__image-text {
    margin-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  .standard__image-text {
    margin-bottom: 100px;
  }
}

.standard__image-text .content {
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .standard__image-text .content {
    padding-top: 100px;
  }
}

.standard__image-text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  .standard__image-text img {
    height: 450px;
  }
}

.standard__image-text span {
  font-family: "Gelasio";
  font-size: 15px;
  font-style: italic;
  color: rgba(87, 86, 91, 0.6);
  margin-bottom: 15px;
  display: block;
}

@media screen and (min-width: 992px) {
  .standard__image-text span {
    font-size: 16px;
  }
}

.standard__image-text h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .standard__image-text h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .standard__image-text h2 {
    margin-bottom: 20px;
  }
}

.standard__image-text p {
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .standard__image-text .btn-cta {
    width: 100%;
  }
}

.testimonials {
  text-align: center;
  background-color: #f6f6f6;
  padding: 38px 0;
}

@media screen and (min-width: 992px) {
  .testimonials {
    padding: 100px 0;
  }
}

.testimonials .testimonial-item {
  max-width: 1275px;
  margin: 0;
  padding: 40px 30px;
}

@media screen and (min-width: 992px) {
  .testimonials .testimonial-item {
    background: #fff;
    padding: 100px 30px 50px 30px;
    margin: 0;
    margin: 0 20vw;
    min-height: 440px;
  }
}

.testimonials h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  font-weight: 400;
  margin-bottom: 26px;
  background-image: url(images/public/icons/icon-quotes.svg);
  display: inline-block;
}

@media screen and (min-width: 992px) {
  .testimonials h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .testimonials h2 {
    margin-bottom: 36px;
  }
}

.testimonials span {
  font-family: "Gelasio";
  font-size: 15px;
  font-style: italic;
  color: rgba(87, 86, 91, 0.6);
  margin-bottom: 15px;
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .testimonials span {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .testimonials span {
    margin-top: 34px;
  }
}

.testimonials .slick-dots {
  bottom: 115px;
}

.testimonials .slick-dots li.slick-active button:before {
  color: #57565b;
}

.testimonials .quote img {
  position: absolute;
  top: -40px;
  left: -60px;
}

@media screen and (max-width: 991px) {
  .testimonials .quote img {
    z-index: 1000;
  }
}

.contact-row {
  background-color: #f6f6f6;
  padding: 30px 0;
}

@media screen and (min-width: 992px) {
  .contact-row {
    padding: 100px 0;
  }
}

.contact-row img {
  max-width: 895px;
  width: 50vw;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  .contact-row .form-content {
    position: relative;
    right: 100px;
  }
}

.contact-row .form-content .form-text {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .contact-row .form-content .form-text {
    text-align: right;
    padding-left: 120px;
  }
}

.contact-row h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  font-weight: 400;
  margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
  .contact-row h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .contact-row h2 {
    margin-bottom: 30px;
  }
}

.contact-row p {
  margin-bottom: 30px;
}

.contact-row form {
  background-color: #fff;
  padding: 15px 15px;
}

@media screen and (min-width: 992px) {
  .contact-row form {
    padding: 40px;
  }
}

.contact-row form .form-control {
  -webkit-box-shadow: inset 1px 1px 0 0 #cccccd;
          box-shadow: inset 1px 1px 0 0 #cccccd;
  background-color: #f6f6f6;
  font-size: 16px;
  color: rgba(87, 86, 91, 0.85);
  font-family: "Montserrat", sans-serif;
}

.contact-row form label {
  font-size: 15px;
  color: rgba(87, 86, 91, 0.85);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.contact-row form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 15px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  background-image: url(../../../../public/images/icons/arrrow-dropdown-grey.png);
}

.contact-row form .date-picker input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 15px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  background-image: url(../../../../public/images/icons/calendar-grey.png);
}

.contact-row form .date-picker input:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .contact-row form .date-picker .asd__wrapper {
    right: -25px !important;
  }
}

.contact-row form .date-picker .asd__month-name {
  font-family: "Gelasio";
  color: #57565b;
}

.contact-row form .date-picker .asd__keyboard-shortcuts-trigger {
  display: none;
}

@media screen and (max-width: 700px) {
  .contact-row form .btn-cta {
    width: 100%;
  }
}

.gallery-wrapper {
  margin: 40px 0;
}

@media screen and (min-width: 992px) {
  .gallery-wrapper {
    margin: 100px 0;
  }
}

.gallery-wrapper .gallerySection {
  text-align: center;
}

.gallery-wrapper .gallerySection h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  font-weight: 400;
  margin-bottom: 25px;
}

@media screen and (min-width: 992px) {
  .gallery-wrapper .gallerySection h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .gallery-wrapper .gallerySection h2 {
    margin-bottom: 90px;
  }
}

.contact-details-row {
  margin: 40px 0;
}

@media screen and (min-width: 992px) {
  .contact-details-row {
    margin: 100px 0;
  }
}

.contact-details-row h2 {
  font-family: "Gelasio";
  font-size: 24px;
  color: #57565b;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .contact-details-row h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .contact-details-row h2 {
    margin-bottom: 40px;
  }
}

.contact-details-row p {
  margin-bottom: 10px;
}

.standard-boxes {
  background: #f7f7f7;
  padding: 40px 0 0;
}

@media screen and (min-width: 992px) {
  .standard-boxes {
    padding: 100px 0 0 0;
  }
}

.standard-boxes img {
  width: 100%;
  height: 413px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  .standard-boxes img {
    height: 700px;
  }
}

.standard-boxes .box-content {
  position: relative;
  top: -100px;
  padding: 40px;
  margin: 0 20px -60px 20px;
  text-align: center;
  padding: 20px 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 992px) {
  .standard-boxes .box-content {
    margin: 0 20px 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .standard-boxes .box-content {
    padding: 40px;
  }
}

.standard-boxes .box-content h3 {
  font-size: 22px;
  color: #57565b;
  font-family: "Gelasio";
}

@media screen and (min-width: 992px) {
  .standard-boxes .box-content h3 {
    font-size: 26px;
  }
}

.standard-boxes .box-content p {
  margin: 15px 0;
}

@media screen and (min-width: 992px) {
  .standard-boxes .box-content p {
    margin: 20px 0;
  }
}

.mobile-buttons {
  background-color: #57565b;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.mobile-buttons a {
  color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  padding: 11px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  display: block;
}

.mobile-buttons .call-btn {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
}

.mobile-buttons .book-btn a {
  color: #57565b;
  background-color: #f0f0f0;
}
/*# sourceMappingURL=styles.css.map */