* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html, body {
  overflow-x: hidden !important;
}

p {
  margin-bottom: 0;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

button {
  margin-bottom: 0;
}

a {
  color: #57565b;
  text-decoration: none;
}

a:hover {
  color: #57565b;
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  color: #57565b;
  text-decoration: none;
}

.btn-primary {
  background-color: #57565b;
  border-radius: 0;
  border: 1px solid #57565b;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  background-color: #fff;
  color: #57565b;
  border: 1px solid #57565b;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #57565b;
  background-color: red;
  color: #57565b;
}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle {
  border-color: #57565b;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 15px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../../public/images/icons/p3/icon-chevron-dark-down.svg);
  padding: 4px 23px 4px 10px;
}

select:focus {
  outline: none;
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.form-control:focus {
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

form select::-ms-expand {
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #57565b;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 65px;
  max-width: 500px;
}

@media screen and (min-width: 992px) {
  .sidenav {
    padding-top: 80px;
  }
}

.sidenav a {
  padding: 15px 0;
  text-decoration: none;
  font-size: 25px;
  color: #abaaad;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

@media screen and (min-width: 992px) {
  .sidenav .closebtn {
    left: 40px;
    top: 5px;
  }
}

.side-nav-links {
  padding: 0 20px;
}

@media screen and (min-width: 992px) {
  .side-nav-links {
    padding: 0 40px;
  }
}

.side-nav-links a {
  border-top: 1px solid rgba(240, 240, 240, 0.4);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.side-nav-links a:last-child {
  border-bottom: 1px solid rgba(240, 240, 240, 0.4);
}

.sidenav .fa {
  padding: 0 7px;
  font-size: 20px;
}

.mini-nav {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 992px) {
  .mini-nav {
    padding: 20px 30px;
  }
}

.book-btn-nav {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
}

.book-btn-nav a {
  color: #57565b;
  letter-spacing: 1px;
}
/*# sourceMappingURL=styles.css.map */